
.table.table-condensed tr th {
   border-bottom: 2px solid white; /* Change the color you want to set */
}

body {
   
  background-image: url(/images/370797.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    font-family: 'Open Sans', sans-serif;

}

input[type="text"]
{
    background: rgba(0, 0, 0, 0);
    border-radius:10px;
    border-color:#95a5a6;
    color:black;
   
}

.form-control,.well,.panel,.panel-body,.panel-footer,.list-group a 
{
    background: rgba(0, 0, 0, 0.5);
    border-radius:10px;
    border-color:#95a5a6;
    color:white;
   
}


.panel h3
{
    margin-left:20px;
    border-color:#95a5a6;
    color:white;
   
}


.text-left{
    margin-left:30px;
color:white;

}
.text-right{
    margin-right:30px;

}
.Mynews{
    margin-right:30px;


}


.btn{
    margin:0 0 0 10px;
    

}
.Create_button{
    margin-bottom:15px;

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,

textarea {
  max-width: 100%;
  resize:none;
}
label{
    color:black;

}

.navbar{

border-radius:0;
}



