@model IEnumerable<Notic_board_2.Models.Announcment2>

@{
    ViewBag.Title = "AllAnnouncment";
    Layout = "~/Views/Shared/_LayoutHomePageTeacher.cshtml";
    ViewBag.colSize = "col-md-6";

}

<h2>AllAnnouncment</h2>


    <div class="well">
        <form role="form">

            <div class="form-group">
                <textarea class="form-control" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <hr>
    </div>



@foreach (var item in Model)
{

    <div class="panel panel-default ">

<h3>  @item.title <br /> </h3>

        <div class="panel-body">

            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="~/images/dummy.jpg" width="64" height="64" alt="pic">
                    </a>
                </div>
                <div class="media-body">
                    
                    @item.description
                  
                </div>
            </div>


        </div>


        <p>
            <a href="/home/Likes" class="text-left"> @item.NoOfLikes  Likes </a>

            
        </p>


        <div class="panel-footer">

                <h4>Leave a Comment:</h4>
                <!-- <form role="form" action="/Home/IsertComment">   -->
                <form role="form">

                    <div class="form-group">
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            <hr>

            @for (int j = 0; j < 3; j++)
            {
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="~/images/dummy.jpg" width="64" height="64" alt="pic">
                        </a>
                    </div>
                    <div class="media-body">
                        This is comment @j
                    </div>
                </div>
                      <hr>
                   
            }

           

        </div>

    </div>


}


