@model IEnumerable<Notic_board_2.Models.Announcment2>

@{
    ViewBag.Title = "TeacherAnnoncment";
    Layout = "~/Views/Shared/_LayoutHomePageTeacher.cshtml";
    ViewBag.colSize = "col-md-6";


}

<h2>MyAnnoncment</h2>


    <div class="well">
        <form role="form" action="#">

            <div class="form-group">
                <textarea class="form-control" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <hr>
    </div>



@foreach (var item in Model)
{


    <div class="panel panel-default ">

        <div class="panel-heading panel-primary"><h3>  @item.title <br /> </h3></div>

        <div class="panel-body">

            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="~/images/dummy.jpg" width="64" height="64" alt="pic">
                    </a>
                </div>
                <div class="media-body">
                  
                    @item.description
                    
                </div>
            </div>


        </div>


        <p>
            <div class="text-left"> @item.NoOfLikes  Likes </div>

            <div class="text-right">
                <button class="btn btn-primary">Edit </button>
                <button class="btn btn-primary">Delete </button>
            </div>
        </p>


        <div class="panel-footer">

            <div class="well">
                <h4>Leave a Comment:</h4>
                <!-- <form role="form" action="/Home/IsertComment">   -->
                <form role="form">

                    <div class="form-group">
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <hr>

            @for (int j = 0; j < 3; j++)
            {
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-circle img-responsive" src="~/images/dummy.jpg" width="64" height="64" alt="pic">
                        </a>
                    </div>
                    <div class="media-body">
                        This is comment @j
                    </div>
                </div>
                <hr>
            }

            <hr>

        </div>

    </div>


}



